@{
    ViewData["Title"] = "Home Page";
}


<section class="jumbotron text-center">

    <div class="container">

        <h1>Welcome to our web portal</h1>
        <p class="lead text-muted">
            Nuestro portal web busca ayudar a las personas a que tengan
            una mayor facilidad para incorporarse a algun trabajo, asi mismo
            a las empresas a buscar el personal correcto
        </p>


        <p>
            <a href="#" class="btn btn-primary my-2">Search for offers </a>
        </p>

    </div>


</section>

